<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2><b>Real Time Visualization of Data</b></h2>
            <h4><b>National School of Engineers of Sousse</b></h4>
        </div>
        <img class="img-responsive" src="assets/images/myimage.png">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Dashboard</a> 
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/posts">Posts</a> 
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a> 
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
